html, 
body{
    height: 100%;
}
.content{
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    
}
.a1{
    position: relative;
    left: 40px;
}
.post_form{
    padding: 20px 40px;
    border: 1px solid #ccc;
    

}

.post_form input{
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    
}

.post_form textarea{
    width: 70%;
    padding: 10px;
    /* border: 1px solid #ccc; */
}
.posts li .flex{
    display: flex;
    
    padding: 20px 40px;
    position: relative;
    list-style: none;
}

.posts li{
border: 1px solid #ccc;
list-style: none;
}
.posts li #post-img{
    width: 90%;
    padding: 0 5%;
}
.posts li .img-like{
    padding: 0 5%;
}
.posts ul{
    padding: 0;
}
.posts li logo{
    flex-basis: 15%;
}
.logo img {
    width: 30%;
    padding: 0px;
}
.posts li .name_body{
   flex-basis: 85%; 
   position: relative;
   right: 8vw;
   
}
.posts li .name_body .name{
 font-weight: bold;
 }
 .posts li .name_body .datetime{
    color: gray; 
 } 

@media screen and (max-width: 500px){
    .posts li .name_body .name{
        font-size: 20px;
    }
}
.logo{
    width: 100%;
    height: 50%;
}
.deflogo img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 36px;
    
}
.posts li .menu_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}
.posts li .menu {
    display:none;
    position: absolute;
    top: 40px;
    right: 15px;
    /* border: 1px solid #ccc; */
    border-color: white ;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .menu a{
    text-decoration: none;
}
